src/antidote/org/apache/tools/ant/gui/acs/project.dtd

<?xml version="1.0" encoding="iso-8859-1"?>
<!--
 The Apache Software License, Version 1.1

 Copyright (c) 1999, 2000 The Apache Software Foundation.  All rights
 reserved.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions
 are met:

 1. Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

 2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

 3. The end-user documentation included with the redistribution, if
    any, must include the following acknowlegement:
       "This product includes software developed by the
        Apache Software Foundation (http://www.apache.org/)."
    Alternately, this acknowlegement may appear in the software itself,
    if and wherever such third-party acknowlegements normally appear.

 4. The names "The Jakarta Project", "Ant", and "Apache Software
    Foundation" must not be used to endorse or promote products derived
    from this software without prior written permission. For written
    permission, please contact apache@apache.org.

 5. Products derived from this software may not be called "Apache"
    nor may "Apache" appear in their names without prior written
    permission of the Apache Group.

 THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESSED OR IMPLIED
 WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
 OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED.  IN NO EVENT SHALL THE APACHE SOFTWARE FOUNDATION OR
 ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF
 USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
 OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 SUCH DAMAGE.
 ====================================================================

 This software consists of voluntary contributions made by many
 individuals on behalf of the Apache Software Foundation.  For more
 information on the Apache Software Foundation, please see
 <http://www.apache.org/>.
-->

<!-- @author Michel CASABIANCA -->
<!-- @version $Revision$ -->

<!ENTITY % share-file SYSTEM "file:/share.dtd">
%share-file;
<!ELEMENT target (ant | antcall | available | chmod | copy | cvs | delete | deltree | echo | exec | expand | fail | filter | get | gzip | fixcrlf | jar | java | javac | javadoc | keysubst |  mail | mkdir | property  | recorder | rename | replace | rmic | tar | taskdef | tstamp | uptodate | zip | path | classpath)*>
<!ATTLIST target
	name CDATA #REQUIRED
	depends CDATA #IMPLIED
	if CDATA #IMPLIED
>
<!ELEMENT ant (property)*>
<!ATTLIST ant
	antfile CDATA #IMPLIED
	dir CDATA #REQUIRED
	target CDATA #IMPLIED
	output CDATA #IMPLIED
>
<!ELEMENT antcall (param)*>
<!ATTLIST antcall
	target CDATA #REQUIRED
>
<!ELEMENT param EMPTY>
<!ATTLIST param
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT available EMPTY>
<!ATTLIST available
	property CDATA #REQUIRED
	classname CDATA #REQUIRED
	resource CDATA #REQUIRED
	file CDATA #REQUIRED
>
<!ELEMENT chmod (includes | excludes | patternset | fileset)*>
<!ATTLIST chmod
	file CDATA #IMPLIED
	dir CDATA #IMPLIED
	perm CDATA #REQUIRED
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
	defaultexcludes CDATA #IMPLIED
	parallel CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT copy (fileset | mapper)*>
<!ATTLIST copy
	file CDATA #IMPLIED
	todir CDATA #IMPLIED
	todir CDATA #IMPLIED
	preservelastmodified CDATA #IMPLIED
	overwrite CDATA #IMPLIED
	filtering CDATA #IMPLIED
	flatten CDATA #IMPLIED
	includeEmptyDirs CDATA #IMPLIED
>
<!ELEMENT cvs EMPTY>
<!ATTLIST cvs
	cvsRoot CDATA #REQUIRED
	dest CDATA #REQUIRED
	package CDATA #REQUIRED
	tag CDATA #IMPLIED
>
<!ELEMENT delete (fileset)*>
<!ATTLIST delete
	file CDATA #IMPLIED
	dir CDATA #IMPLIED
	verbose CDATA #IMPLIED
	quiet CDATA #IMPLIED
	includeEmptyDirs CDATA #IMPLIED
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
	defaultexcludes CDATA #IMPLIED
>
<!ELEMENT deltree EMPTY>
<!ATTLIST deltree
	dir CDATA #REQUIRED
>
<!ELEMENT echo EMPTY>
<!ATTLIST echo
	message CDATA #REQUIRED
>
<!ELEMENT exec EMPTY>
<!ATTLIST exec
	command CDATA #REQUIRED
	dir CDATA #REQUIRED
	os CDATA #IMPLIED
	output CDATA #REQUIRED
>
<!ELEMENT expand EMPTY>
<!ATTLIST expand
	src CDATA #REQUIRED
	dest CDATA #REQUIRED
>
<!ELEMENT filter EMPTY>
<!ATTLIST filter
	token CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT get EMPTY>
<!ATTLIST get
	src CDATA #REQUIRED
	dest CDATA #REQUIRED
	verbose CDATA #IMPLIED
>
<!ELEMENT gzip EMPTY>
<!ATTLIST gzip
	src CDATA #REQUIRED
	zipfile CDATA #REQUIRED
>
<!ELEMENT fail EMPTY>
<!ELEMENT fixcrlf (includes | excludes | patternset)*>
<!ATTLIST fixcrlf
	srcdir CDATA #REQUIRED
	destDir CDATA #IMPLIED
	includes CDATA #IMPLIED
	excludes CDATA #IMPLIED
	cr CDATA #IMPLIED
	tab CDATA #IMPLIED
	eof CDATA #IMPLIED
        includesfile CDATA #IMPLIED
        excludesfile CDATA #IMPLIED
        defaultexcludes CDATA #IMPLIED
        tablength CDATA #IMPLIED
>
<!ELEMENT jar (metainf | include | exclude | patternset | fileset)*>
<!ATTLIST jar
	jarfile CDATA #REQUIRED
	basedir CDATA #REQUIRED
	compress CDATA #IMPLIED
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
	defaultexcludes CDATA #IMPLIED
	manifest CDATA #IMPLIED
	whenempty CDATA #IMPLIED
>
<!ELEMENT metainf (include | exclude | patternset)*>
<!ATTLIST metainf
	id CDATA #IMPLIED
	refid CDATA #IMPLIED
	dir CDATA #REQUIRED
	defaultexcludes CDATA #IMPLIED
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
>
<!ELEMENT java EMPTY>
<!ATTLIST java
	classname CDATA #REQUIRED
	args CDATA #IMPLIED
	fork CDATA #IMPLIED
	jvmargs CDATA #IMPLIED
>
<!ELEMENT javac (classpath | exclude | property)*>
<!ATTLIST javac
	srcdir CDATA #REQUIRED
	destdir CDATA #REQUIRED
	includes CDATA #IMPLIED
	excludes CDATA #IMPLIED
	defaultexcludes CDATA #IMPLIED
	classpath CDATA #IMPLIED
	bootclasspath CDATA #IMPLIED
	extdirs CDATA #IMPLIED
	debug CDATA #IMPLIED
	optimize CDATA #IMPLIED
	deprecation CDATA #IMPLIED
	filtering CDATA #IMPLIED
>
<!ELEMENT javadoc (link | group | doclet | sourcepath | classpath | bootclasspath)>
<!ATTLIST javadoc
	sourcepath CDATA #REQUIRED
	destdir CDATA #REQUIRED
	sourcefiles CDATA #IMPLIED
	packagenames CDATA #IMPLIED
	classpath CDATA #IMPLIED
	bootclasspath CDATA #IMPLIED
	extdirs CDATA #IMPLIED
	overview CDATA #IMPLIED
	public CDATA #IMPLIED
	protected CDATA #IMPLIED
	package CDATA #IMPLIED
	private CDATA #IMPLIED
	old CDATA #IMPLIED
	verbose CDATA #IMPLIED
	locale CDATA #IMPLIED
	encoding CDATA #IMPLIED
	version CDATA #IMPLIED
	use CDATA #IMPLIED
	author CDATA #IMPLIED
	splitindex CDATA #IMPLIED
	windowtitle CDATA #IMPLIED
	doctitle CDATA #IMPLIED
	header CDATA #IMPLIED
	footer CDATA #IMPLIED
	bottom CDATA #IMPLIED
	link CDATA #IMPLIED
	linkoffline CDATA #IMPLIED
	group CDATA #IMPLIED
	nodedeprecated CDATA #IMPLIED
	nodedeprecatedlist CDATA #IMPLIED
	notree CDATA #IMPLIED
	noindex CDATA #IMPLIED
	nohelp CDATA #IMPLIED
	nonavbar CDATA #IMPLIED
	serialwarn CDATA #IMPLIED
	helpfile CDATA #IMPLIED
	stylesheetfile CDATA #IMPLIED
	charset CDATA #IMPLIED
	docencoding CDATA #IMPLIED
>
<!ELEMENT link EMPTY>
<!ATTLIST link
	href CDATA #REQUIRED
	offline CDATA #IMPLIED
	packagelistLoc CDATA #IMPLIED
>
<!ELEMENT group EMPTY>
<!ATTLIST group
	title CDATA #REQUIRED
	packages CDATA #REQUIRED
>
<!ELEMENT doclet (param)*>
<!ATTLIST doclet
	name CDATA #REQUIRED
	path CDATA #REQUIRED
>
<!ELEMENT sourcepath (pathelement | path | fileset)*>
<!ATTLIST sourcepath
	id CDATA #IMPLIED
	refid CDATA #IMPLIED
>
<!ELEMENT bootclasspath (pathelement | path | fileset)*>
<!ATTLIST bootclasspath
	id CDATA #IMPLIED
	refid CDATA #IMPLIED
>
<!ELEMENT keysubst EMPTY>
<!ATTLIST keysubst
	src CDATA #REQUIRED
	dest CDATA #REQUIRED
	sep CDATA #IMPLIED
	keys CDATA #REQUIRED
>
<!ELEMENT mail EMPTY>
<!ATTLIST mail
        from CDATA #REQUIRED
        tolist CDATA #REQUIRED
        message CDATA #REQUIRED
        files CDATA #IMPLIED
        mailhost CDATA #IMPLIED
        subject CDATA #IMPLIED
>
<!ELEMENT mapper EMPTY>
<!ATTLIST mapper
	type CDATA #REQUIRED
	from CDATA #REQUIRED
	to CDATA #REQUIRED
      classname CDATA #IMPLIED
      classpath CDATA #IMPLIED
      classpathref CDATA #IMPLIED
>
<!ELEMENT mkdir EMPTY>
<!ATTLIST mkdir
	dir CDATA #REQUIRED
>
<!ELEMENT recorder EMPTY>
<!ATTLIST recorder
	name CDATA #REQUIRED
	action CDATA #IMPLIED
	append CDATA #IMPLIED
	loglevel CDATA #IMPLIED
>
<!ELEMENT rename EMPTY>
<!ATTLIST rename
	src CDATA #REQUIRED
	dest CDATA #REQUIRED
	replace CDATA #IMPLIED
>
<!ELEMENT replace EMPTY>
<!ATTLIST replace
	file CDATA #REQUIRED
	token CDATA #REQUIRED
	value CDATA #IMPLIED
>
<!ELEMENT rmic EMPTY>
<!ATTLIST rmic
	base CDATA #REQUIRED
	classname CDATA #REQUIRED
	filtering CDATA #IMPLIED
>
<!ELEMENT tar (includes | excludes | patternset | fileset | tarfileset)*>
<!ATTLIST tar
	tarfile CDATA #REQUIRED
	basedir CDATA #REQUIRED
	includes CDATA #IMPLIED
	excludes CDATA #IMPLIED
	defaultexcludes CDATA #IMPLIED
>
<!ELEMENT tarfileset (include | exclude | patternset)*>
<!ATTLIST tarfileset
	id CDATA #IMPLIED
	refid CDATA #IMPLIED
	dir CDATA #REQUIRED
	defaultexcludes CDATA #IMPLIED
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
	prefix CDATA #IMPLIED
	fullpath CDATA #IMPLIED
	src CDATA #IMPLIED
	mode CDATA #IMPLIED
	username CDATA #IMPLIED
	groupname CDATA #IMPLIED
>
<!ELEMENT tstamp (format)*>
<!ELEMENT format EMPTY>
<!ATTLIST format
	property CDATA #REQUIRED
	pattern CDATA #REQUIRED
>
<!ELEMENT uptodate (srcfiles | mapper)*>
<!ATTLIST uptodate
	property CDATA #REQUIRED
	value CDATA #IMPLIED
	targetfile CDATA #IMPLIED
>
<!ELEMENT srcfiles (include | exclude | patternset)*>
<!ATTLIST srcfiles
	id CDATA #IMPLIED
	refid CDATA #IMPLIED
	dir CDATA #REQUIRED
	defaultexcludes CDATA #IMPLIED
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
>
<!ELEMENT zip (fileset | zipfileset)*>
<!ATTLIST zip
	zipfile CDATA #REQUIRED
	basedir CDATA #REQUIRED
	items CDATA #IMPLIED
	ignore CDATA #IMPLIED
	includes CDATA #IMPLIED
	excludes CDATA #IMPLIED
	defaultexcludes CDATA #IMPLIED
>
<!ELEMENT zipfileset (include | exclude | patternset)*>
<!ATTLIST zipfileset
	id CDATA #IMPLIED
	refid CDATA #IMPLIED
	dir CDATA #REQUIRED
	defaultexcludes CDATA #IMPLIED
	includes CDATA #IMPLIED
	includesfile CDATA #IMPLIED
	excludes CDATA #IMPLIED
	excludesfile CDATA #IMPLIED
	prefix CDATA #IMPLIED
	fullpath CDATA #IMPLIED
	src CDATA #IMPLIED
>
